// txt color
.Blue90 {
    color: #0D3770;
}
.Blue80 {
    color: #114A98;
}
.Blue70 {
    color: #165CBD;
}
.Blue60 {
    color: #1A6DDF;
}
.Blue50 {
    color: #428BEF;
}
.Blue40 {
    color: #70A7F3;
}
.Blue30 {
    color: #97BFF6;
}
.Blue20 {
    color: #DEE8F6;
}
.Blue10 {
    color: #F7FAFE;
}
.Gray90  {
    color:#23292C ;
}
.Gray80  {
    color:#2F373C ;
}
.Gray70  {
    color:#4D565C ;
}
.Gray60  {
    color:#636B70 ;
}
.Gray50  {
    color:#81898E ;
}
.Gray40  {
    color:#A0A6AA ;
}
.Gray30  {
    color:#CFCFCF ;
}
.Gray20  {
    color:#DEE8F6 ;
}
.Gray10  {
    color:#F7FAFE ;
}
// background
.B-Blue90 {
    background-color: #0D3770;
}
.B-Blue80 {
   background-color: #114A98;
}
.B-Blue70 {
   background-color: #165CBD;
}
.B-Blue60 {
   background-color: #1A6DDF;
}
.B-Blue50 {
   background-color: #428BEF;
}
.B-Blue40 {
   background-color: #70A7F3;
}
.B-Blue30 {
   background-color: #97BFF6;
}
.B-Blue20 {
   background-color: #DEE8F6;
}
.B-Blue10 {
   background-color: #F7FAFE;
}
.B-Gray90  {
   background-color:#23292C ;
}
.B-Gray80  {
   background-color:#2F373C ;
}
.B-Gray70  {
   background-color:#4D565C ;
}
.B-Gray60  {
   background-color:#636B70 ;
}
.B-Gray50  {
   background-color:#81898E ;
}
.B-Gray40  {
   background-color:#A0A6AA ;
}
.B-Gray30  {
   background-color:#CFCFCF ;
}
.B-Gray20  {
   background-color:#DEE8F6 ;
}
.B-Gray10  {
   background-color:#F7FAFE ;
}
// border
.Indicator {
    border-color: #DFE3E6;
    border-style: solid;
}
.Error-Main {
    border-color: #E53935;
    border-style: solid;
}
.Success {
    border-color: #4CB64C;
    border-style: solid;
}
.Warning{
    border-color: #F48C2D;
    border-style: solid;
}
.Border-Info {
    border-color: #C5C8CB;
    border-style: solid;
}
.Error-Light {
    border-color: #FFEBEE;
    border-style: solid;
}
.Warning-Light{
    border-color: #FCE8D5;
    border-style: solid;
}