<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="login-page">
  <mat-card class="login-container">
    <div class="avatar">
      <mat-icon>person</mat-icon>
    </div>

    <form (ngSubmit)="login()" #loginForm="ngForm">
      <mat-form-field appearance="outline" class="full-width">
        <mat-icon matPrefix>mail</mat-icon>
        <mat-label>Username</mat-label>
        <input matInput name="username" [(ngModel)]="datalogin.username" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-icon matPrefix>lock</mat-icon>
        <mat-label>Password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" name="password" [(ngModel)]="datalogin.password" />
        <!-- ปุ่มตา -->
        <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
          <mat-icon>
            {{ hidePassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </button>
      </mat-form-field>

      <div class="options">
        <mat-checkbox>Remember me</mat-checkbox>
        <a href="#">Forgot Password?</a>
      </div>

      <button class="login-btn" type="submit">
        LOGIN
      </button>
    </form>
  </mat-card>
</div>
