:where(html) {
  --dc-shadow-color: 221 100% 31.8%;
  --dc-shadow-strength: 1%;
  --dc-shadow-1: 0 1px 2px -1px hsl(var(--dc-shadow-color) / calc(var(--dc-shadow-strength) + 9%));
  --dc-shadow-2:
    0 3px 5px -2px hsl(var(--dc-shadow-color) / calc(var(--dc-shadow-strength) + 3%)),
    0 7px 14px -5px hsl(var(--dc-shadow-color) / calc(var(--dc-shadow-strength) + 5%));
  --dc-shadow-3:
    0 -1px 3px 0 hsl(var(--dc-shadow-color) / calc(var(--dc-shadow-strength) + 2%)),
    0 1px 2px -5px hsl(var(--dc-shadow-color) / calc(var(--dc-shadow-strength) + 2%)),
    0 2px 5px -5px hsl(var(--dc-shadow-color) / calc(var(--dc-shadow-strength) + 4%)),
    0 4px 12px -5px hsl(var(--dc-shadow-color) / calc(var(--dc-shadow-strength) + 5%)),
    0 12px 15px -5px hsl(var(--dc-shadow-color) / calc(var(--dc-shadow-strength) + 7%));
  --dc-shadow-4:
    0 -2px 5px 0 hsl(var(--dc-shadow-color) / calc(var(--dc-shadow-strength) + 2%)),
    0 1px 1px -2px hsl(var(--dc-shadow-color) / calc(var(--dc-shadow-strength) + 3%)),
    0 2px 2px -2px hsl(var(--dc-shadow-color) / calc(var(--dc-shadow-strength) + 3%)),
    0 5px 5px -2px hsl(var(--dc-shadow-color) / calc(var(--dc-shadow-strength) + 4%)),
    0 9px 9px -2px hsl(var(--dc-shadow-color) / calc(var(--dc-shadow-strength) + 5%)),
    0 16px 16px -2px hsl(var(--dc-shadow-color) / calc(var(--dc-shadow-strength) + 6%));
  --dc-shadow-5:
    0 -1px 2px 0 hsl(var(--dc-shadow-color) / calc(var(--dc-shadow-strength) + 2%)),
    0 2px 1px -2px hsl(var(--dc-shadow-color) / calc(var(--dc-shadow-strength) + 3%)),
    0 5px 5px -2px hsl(var(--dc-shadow-color) / calc(var(--dc-shadow-strength) + 3%)),
    0 10px 10px -2px hsl(var(--dc-shadow-color) / calc(var(--dc-shadow-strength) + 4%)),
    0 20px 20px -2px hsl(var(--dc-shadow-color) / calc(var(--dc-shadow-strength) + 5%)),
    0 40px 40px -2px hsl(var(--dc-shadow-color) / calc(var(--dc-shadow-strength) + 7%));
  --dc-shadow-6:
    0 -1px 2px 0 hsl(var(--dc-shadow-color) / calc(var(--dc-shadow-strength) + 2%)),
    0 3px 2px -2px hsl(var(--dc-shadow-color) / calc(var(--dc-shadow-strength) + 3%)),
    0 7px 5px -2px hsl(var(--dc-shadow-color) / calc(var(--dc-shadow-strength) + 3%)),
    0 12px 10px -2px hsl(var(--dc-shadow-color) / calc(var(--dc-shadow-strength) + 4%)),
    0 22px 18px -2px hsl(var(--dc-shadow-color) / calc(var(--dc-shadow-strength) + 5%)),
    0 41px 33px -2px hsl(var(--dc-shadow-color) / calc(var(--dc-shadow-strength) + 6%)),
    0 100px 80px -2px hsl(var(--dc-shadow-color) / calc(var(--dc-shadow-strength) + 7%));

  --dc-shadow-7:0px 2px 3px 0px var(--dc-shadow-color-1);
  --dc-shadow-8:0px 4px 8px 0px var(--dc-shadow-color-1);
  --dc-shadow-9:2px 4px 16px 2px var(--dc-shadow-color-1);  
}
