// color palette
$green: #39AD00;
$dark-green: #025437;
$blue: #2b93d1;
$dark-blue: #2062af;
$orange: #F8AA3A;
$red: #d93025;
$white: #ffffff;
$grey1: #f4f4f4;
$grey2: #e3e3e3;
$grey3: #d6d9db;
$grey4: #e3e6e0;
$grey5: #8e8e8e;
$grey6: #666666;
$grey7: #545757;