.main-page {
  padding: 1.5rem;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.subtitle {
  margin: 0.25rem 0 0;
  color: #6b7280;
}

.inline-add-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: flex-end;
}

.field {
  flex: 1;
  min-width: 220px;
}

.add-button {
  height: 3rem;
  align-self: flex-end;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th.mat-header-cell {
  background: #f3f4f6;
  font-weight: 600;
}

.mat-cell,
.mat-header-cell {
  padding: 0.9rem 1rem;
}

.mat-row:nth-child(even) {
  background: #fbfbfb;
}

// .total-box {
//   background: linear-gradient(135deg, #eef2ff, #f8fafc);
//   border: 1px solid #e0e7ff;
//   justify-content: flex-end;
// }
.total-box {
  margin-top: 16px;
  padding: 16px 20px;
  border-radius: 12px;
  background: linear-gradient(135deg, #eef2ff, #f8fafc);
  border: 1px solid #e0e7ff;

  display: flex;
  justify-content: flex-end; // 👈 ดันไปขวาสุด
  align-items: center;
  gap: 12px;
}

/* header row */
.mat-mdc-header-row {
  background-color: #e3f2fd !important; // 👈 ฟ้าอ่อน
}

/* header cell */
.mat-mdc-cell,
.mat-mdc-header-cell {
  border: 1px solid #e0e0e0;
}

mat-paginator {
  border-top: 1px solid #cbd5e1;
}

.form-action {
  display: flex;
  justify-content: flex-end; // 👈 ดันปุ่มไปขวาสุด
}

.text-center {
  text-align: center !important;
}
